.form-statistics-meta {
}

.statistics-form,
.form-statistics-meta {
	padding: 15px;
	background: #fff;
	box-shadow: 1px 1px 4px #999999;
	border: 1px solid #eaeaea;
}

.statistics-form label {
	margin-top: 10px;
}

.statistics-form input[type="date"] {
	display: block;
}

.notes {
	width: 100%;
	resize: none;
}

.textarea {
	padding: 5px;
	max-height: 250px;
	overflow: auto;
}

.noteDate {
	color: #ff8000;
}

.state-icons {
	color: #808080;
	padding: 0 2px;
    font-size: 17px;
}

.state-icons.active {
	color: #ff8000;
}

.state-icons.rejected.active {
	color: #ec1313;
}

.state-icons.finished.active {
	color: #00bd00;
}

.button-boss-approval {
	font-size: 36px;
}