.form-statistics-meta {
	background: #fff;
	box-shadow: 1px 1px 4px #999999;
	border: 1px solid #eaeaea;
}



/* input[type=checkbox]:before { */
/*     content: ""; */
/*     height: 15px; */
/*     width: 15px; */
/*     left: -10px; */
/*     border: 1px solid black; */
/*     display: block; */
/*     background: rgba(0,0,0,0.5); */
/*     position: relative; */
/*     padding: 20px; */
/*     top: -10px; */
/*     z-index: 3; */
/* } */

/* input[type=checkbox] { */
/* 	position: relative;  */
/* 	z-index: 1; */
/* } */