.form-statistics-meta {
}

.statistics-form,
.form-statistics-meta {
	padding: 15px;
	background: #fff;
	box-shadow: 1px 1px 4px #999999;
	border: 1px solid #eaeaea;
}

.notes {
	width: 100%;
	resize: none;
}

.textarea {
	padding: 5px;
	max-height: 250px;
	overflow: auto;
}

.noteDate {
	color: #ff8000;
}

.state-icons {
	color: #808080;
	padding: 0 2px;
    font-size: 17px;
}

.state-icons.active {
	color: #ff8000;
}

.state-icons.rejected.active {
	color: #ec1313;
}

.state-icons.finished.active {
	color: #00bd00;
}

/* input[type=checkbox]:before { */
/*     content: ""; */
/*     height: 15px; */
/*     width: 15px; */
/*     left: -10px; */
/*     border: 1px solid black; */
/*     display: block; */
/*     background: rgba(0,0,0,0.5); */
/*     position: relative; */
/*     padding: 20px; */
/*     top: -10px; */
/*     z-index: 3; */
/* } */

/* input[type=checkbox] { */
/* 	position: relative;  */
/* 	z-index: 1; */
/* } */