.navbar-nav li {
	border-right: 1px solid #808080;
}

.navbar-nav li:last-child {
	border-right: none;
}

.navbar {
	border-radius: 0px;
	box-shadow: 1px 1px 3px #999999;
    margin-left: -15px;
    margin-right: -15px;
}