body {
	background: #f6f6f6 !important;
/* 	background: #fff !important;  */
/* 	background-image: url("../images/brushed-alum.png") !important; */
}

.table-hover>tbody>tr:hover {
	background-color: rgba(101, 146, 228, .2);
}

table {
	background-color: #fff;
}

table tr:nth-child(even) {
	background-color: #f1f1f1;
/* 	background-color: #f2f2f2; */
}

.link-style {
	color: #337ab7;
	cursor: pointer;
}